@use '../mixins/responsive.scss' as *;

.logo {
  width: 96px;
  @include responsive(desktop) {
    width: 240px;
  }
}
.icon {
  width: 29px;

  @include responsive(desktop) {
    width: 56px;
  }
}

.image-info {
  margin-bottom: 40px;
}
