@use '../mixins/responsive.scss' as *;
.main{
  @include responsive(desktop) {
    text-align: left;
  }
}
.communities-m {
  display: flex;
  flex-direction: column;
  width: 160px;
  @include responsive(desktop) {
    width: 252px;
  }
}
.communities-s {
  display: flex;
  flex-direction: column;
  width: 160px;
  @include responsive(desktop) {
    width: 287px;
  }
}

.communities-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
  @include responsive(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 23.8125rem;
    margin-bottom:133px ;
  }
}

.main-info-s {
  padding: 0 27px 133px;
  height: 763px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(/assets/images/path.svg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
  margin-bottom: 67px;
  @include responsive(desktop) {
    padding: 165px 130px 116px 130px;
    height: 842px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-image: url(/assets/images/path-main-top.svg);
    background-position: 0 0;
  }
}
.main-info-m {
  padding: 0 27px 133px;
  height: 803px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/assets/images/path-bottom.svg);
  background-repeat: no-repeat;
  margin-bottom: 7px;
  @include responsive(desktop) {
    padding: 165px 130px 116px 130px;
    height: 842px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-image: url(/assets/images/path-main-top.svg);
    background-position: 0 0;
    margin-bottom: 135px;
  }
}
.main-info {
  padding: 0 27px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  margin-bottom: 120px;
  @include responsive(desktop) {
    padding: 0 120px;
    height: 842px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.info-container{
  @include responsive(desktop) {
    width: 520px;
  }
}
.build-container{
  @include responsive(desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 178px;
  }
}
