@use '../mixins/responsive.scss' as *;

.title {
  margin: 0 0 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  line-height: 36px;
  @include responsive(desktop) {
    font-size: 3rem;
    line-height: 72px;
  }
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  line-height: 30px;
  margin: 0 0 1rem;
  @include responsive(desktop) {
    font-size: 2.5rem;
    line-height: 60px;
  }
  &--l {
    padding: 0 16px;
    font-size: 1.5rem;
    line-height: 36px;
    @include responsive(desktop) {
      text-align: center;
      font-size: 2.5rem;
      line-height: 60px;
    }
  }
  
}
